.demo-invitation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 200px 16px 0;
  width: 100%;
  height: 200px;
}

.demo-invitation__image-founder {
  width: 280px;
  height: 280px;
}

.demo-invitation__content {
  margin-top: -50px;
  background-color: var(--primary-color);
  padding: 32px;
  color: white;
  text-align: center;
}

.demo-invitation__title {
  margin-bottom: 16px;
}

.demo-invitation__description {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--secondary-font-family);
}
