.button {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-family: var(--secondary-font-family);
  letter-spacing: -0.16px;
  text-decoration: none;
}

.button--underline {
  transition: all 0.1s ease-in;
  border-bottom: 3px solid var(--accent-color);
  color: white;
}

.button--underline:hover {
  color: var(--accent-color);
}

.button--full {
  transition: all 0.1s ease-in;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  padding: 8px 20px;
  color: var(--primary-color);
}

.button--full:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
