.button {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-family: var(--secondary-font-family);
  letter-spacing: -0.16px;
  text-decoration: none;
}

.button--underline {
  border-bottom: 3px solid var(--accent-color);
  color: white;
}

.button--full {
  background-color: var(--accent-color);
  padding: 12px 24px;
  color: var(--primary-color);
}
