.buttonUnderline {
  border-bottom: 3px solid var(--accent-color);
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-family: var(--secondary-font-family);
  letter-spacing: -0.16px;
  text-decoration: none;
}

.buttonFull {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
