.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.heading__title {
  margin-bottom: 40px;
  color: white;
  text-align: center;
}

.heading__text-underline {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 3px;
}

@media only screen and (min-width: 768px) {
  .heading {
    position: relative;
  }

  .heading::before {
    position: absolute;
    top: 0;
    left: -265px;
    z-index: 200;
    background-image: url('../../../assets/bg-pattern-1.svg');
    background-size: 341px auto;
    background-repeat: no-repeat;
    width: 341px;
    height: 317px;
    content: '';
  }

  .heading::after {
    position: absolute;
    right: -135px;
    bottom: -80px;
    z-index: 200;
    background-image: url('../../../assets/bg-pattern-2.svg');
    background-size: 174px auto;
    background-repeat: no-repeat;
    width: 174px;
    height: 181px;
    content: '';
  }

  .heading__title {
    width: 560px;
  }
}
