.header {
  position: relative;
  z-index: 100;
  background-clip: padding-box;
  background-color: var(--primary-color);
  padding: 32px 16px 0 16px;
}

.header::after {
  display: block;
  position: absolute;
  bottom: -160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 80;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  background-color: var(--primary-color);
  width: 600px;
  height: 160px;
  content: '';
}

@media only screen and (min-width: 500px) {
  .header::after {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 1000px;
  }
}

.header__image-hero {
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 320px;
}
