.product-benefits {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 40px;
  z-index: 50;
  background-color: var(--secondary-color);
  padding: 315px 16px 0;
}

.product-benefits::after {
  display: block;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  background-color: var(--secondary-color);
  width: 600px;
  height: 160px;
  content: '';
}

@media only screen and (min-width: 500px) {
  .product-benefits::after {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 1000px;
  }
}

@media only screen and (min-width: 768px) {
  .product-benefits {
    gap: 48px;
    padding: 410px 100px 0;
  }
}
