@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-color: #24053e;
  --secondary-color: #fcf8ff;
  --accent-color: #44ffa1;
  --text-color: #584d62;
  --primary-font-family: 'Fraunces', serif;
  --secondary-font-family: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font-family);
}

body {
  min-height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.app {
  min-height: 100vh;
  overflow-x: hidden;
}
