@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  --primary-color: #24053e;
  --secondary-color: #fcf8ff;
  --accent-color: #44ffa1;
  --text-color: #584d62;
  --font-family: 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
